.login .login-form-container {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.login .login-form-container .login-form-title{
    text-align: center;
}

.login .login-form-container h2 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
    color: #124265;
}

.login .login-form-container .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.login .login-form-container .login-form {
    width: 100%;
    background: #fff;
}

.login .login-form-container .login-form .form-group {
    padding-bottom: 8px;
}

.login .login-form-container .login-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.login .login-form-container .login-form .error-message br+br {
    margin-top: 25px;
}

.login .login-form-container .login-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.login .login-form-container .login-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.login .login-form-container .login-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.login .login-form-container .login-form input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    height: 44px;
}

.login .login-form-container .login-form input:focus {
    border-color: #2487ce;
}